@import url("normalize.min.css");
@import url("featherlight.min.css");
@import url("../font/source-serif-pro/source-serif-pro.css");
@import url("cms.css");
/*
 * Lets go...
 * */
html, body{
	font-family: 'Source Serif Pro';
	font-size: 1.1em;
	font-weight: 300;
}
p{
	line-height: 1.7em;
}
h1{
	font-size: 2.6em;
	font-weight: 700;
	margin: 0.1em 0;
}
h2{
	font-size: 1.8em;
	font-weight: 600;
	margin-top: 0px;
}
h3{
	font-size: 1.4em;
	font-weight: 600;
	margin: 0.1em 0;
}
h4{
	font-size: 1.1em;
	font-weight: 400;
	margin-top: 0px;
}
h5{
	font-size: 1.1em;
	font-weight: 400;
	margin: 0.4em 0;
}
h6{
	font-size: 0.8em;
	font-weight: 300;
	margin-top: 0px;
}
img{
	object-fit: cover;
}
a, a:visited, a:active, a:hover{
	color: #333333;
	text-decoration: underline;
	font-weight: 400;
}
/*
 * Lets go and make some classes!
 * */
header{
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	margin-bottom: 4em;
	/* FlexBox is supported enought http://caniuse.com/#feat=flexbox...*/
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-end;
			align-items: flex-end;
	-webkit-align-self: flex-end;
			align-self: flex-end;
}
.home header{
	height: 68vh;
	margin-top: 12vh;
	margin-bottom: 0em;
	background-size: contain;
}
header div{
	width: 800px;
	margin: 0 auto;
	color: #fff;
}
header h1{
	margin-top: 0px;
}

.home section{
	height: 30vh;
	width: 80%;
	margin: 0 auto;
}
.home section div{
	float: left;
	width: 17.8%;
	min-width: 160px;
	min-height: 160px;
	margin: 1%;
}

footer{
	width: 100%;
	height: 300px;
	max-height: 300px;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-align-self: flex-end;
	align-self: flex-end;
}
.home footer{
	height: 200px;
}
footer div{
	width: 740px;
	margin: 0 auto;
	margin-bottom: 1em;
	font-size: 0.8em;
	text-align: center;
}
.home footer div{
	border-top: 1px #DDD solid;
}
footer a{
	display: inline-block;
	margin: 2%;
	line-height: 50px;
}
footer > img, header > img{
	display: none;
}
footer a, footer a:hover, footer a:active, footer a:visited{
	color: #DDD;
	text-decoration:none;
}
footer a img{
	vertical-align:middle;
}
.home footer a, .home footer a:hover, .home footer a:active, .home footer a:visited{
	color: #BBB;
	text-decoration:none;
}
/*
 * NAVIGATION
 * */
nav{
	width: 100%;
	height: 5em;
	background-color: #fff;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;

	-webkit-box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 ); /* 1 4 */
			box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 ); /* 1 4 */

	-webkit-transition-duration: .5s;
			transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
			transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
	-webkit-transition-property: -webkit-transform;
			transition-property: transform;
}
.nav--hidden{
	-webkit-transform: translateY( -100% );
		-ms-transform: translateY( -100% );
			transform: translateY( -100% );
}
nav div.logo{
	width: 150px;
	height: 100px;
	position:absolute; left:0px; top:0px;
}
nav div.logo a{
	margin-left: 0%;
	margin-right: 0%;
	line-height: 1em;
}
nav div.main{
	width: 740px;
	margin: 0 auto;
	font-size: 1.0em;
	margin-top: 0.9em;
	text-align: center;
}
.home nav div.main{
	width: 840px;
	font-size: 1.1em;
	margin-top: 1.6em;
}
nav div.auxiliary{
	width: 740px;
	margin: 0 auto;
	font-size: 0.8em;
	text-align: center;

	border-top: 1px #eee solid;
}
nav div.auxiliary span{
	letter-spacing: -1px;
	margin-left: 20px;
}

nav a{
	/*float: left;*/
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	line-height: 2.0em;
}
nav div.back{
	height: 5em;
	line-height: 5em;
	width: 5em;
	text-align: center;
	position: absolute;
	left: 20px;
	top:0px;
}
nav a, nav a:hover, nav a:active, nav a:visited{
	text-decoration: none;
	font-weight: 400;
	color: #999;
}
nav div.back a{
	line-height: 5em;
}

.home nav div.main a, .home nav div.main a:hover, .home nav div.main a:active, .home nav div.main a:visited{
	font-weight: 600;
	color: #999;
}
nav a:hover, .home nav div.main a:hover{
	color: #00c174;
}
nav div.auxiliary a:hover{
	/*text-decoration: underline;*/
}

/*
 *	Lets style the content!!
 * */
.content{
	width: 700px;
	margin: auto;
}
.content p img.left{
	float: left;
	margin-right: 0.6em;
	margin-top: 0.3em;
}
.content p img.off-left{
	float: left;
	margin-right: 0.6em;
	margin-top: 0.3em;
	margin-left: -60px;
}
.content p img.right{
	float: right;
	margin-left: 0.6em;
	margin-top: 0.3em;
}
.content p img.off-right{
	float: right;
	margin-left: 0.6em;
	margin-top: 0.3em;
	margin-right: -60px;
}
/*
 * img:after seems not to work...
 * */
.content p img.left:after,
.content p img.off-left:after{
	clear: both;
}
.content p img.right:after,
.content p img.off-right:after{
	clear: both;
}
/* Descriptions for all the images in the content area */
.description{
	width: 160px;
	color: #999;
	font-style: oblique;
	font-size: 0.9em;
	line-height: 1.4em;
	margin-top: 8px;
}
.content p img.left + .description{
	text-align: right;
	position: absolute;
	margin-left: -190px;
}
.content p img.off-left + .description{
	text-align: right;
	position: absolute;
	margin-left: -240px;
}
.content p img.right + .description{
	text-align: left;
	position: absolute;
	margin-left: 724px;
}
.content p img.off-right + .description{
	text-align: left;
	position: absolute;
	margin-left: 780px;
}
.content p img.center + .description{
	text-align: center;
	width: 700px;
	margin-bottom: 1.6em;
	margin-top: 0px;
}


